@import '../../scss/vars.scss';

.chip {
	background-color: $passive-color;
	padding: 5px 10px;
	font-size: 14px;
	height: 30px;
	min-width: 70px;
	border-radius: 20px;
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
	font-family: sans-serif;
	color: $passive-color * 0.6;
  cursor: pointer;
  margin-left: 40px;
	&:hover {
		color: black;
	}
}
